#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 5%;
}

.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding: 3rem;
    margin-bottom: 1rem;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* Apply the animation to the text element */
.bounce-text {
    font-size: 3em;
    animation: bounce 2s infinite;
    font-size: 3rem;
    font-weight: 600;
    padding: 3rem;
    margin-bottom: 1rem;
    
}


.skillDesc{
    font-weight: 400;
    font-size: 1rem;
    max-width: 61rem;
    padding: 0 2rem;
    text-align: justify;
}

.skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
    
}

.skillBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background-color: #6851CB;
    
}

.skillBarImg{
    object-fit:contain;
    height: 6rem;
    width: 6rem;
    
}

.skillBarText{
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
}

@media screen and (max-width:720px) {
    .skillBarImg{
        height: 5rem;
        width: 5rem;
    }
   .skillBarText>p{ 
    font-size: 2vw;
    
   }
   .skillBarText>h2{
    font-size: 4vw;
    
   }

}