#contact{
    overflow: hidden;
    
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    

 
}
.contactBars{
    
    width: 120vw;
   
    text-align: left;
   
    
}

.contactBox{
    display: flex;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background-color: #6851CB;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3%;

}
.title{
    justify-content: center;
    margin: 1rem;
    font-size:xx-large;
    
   
}
