#intro{
    height: auto;
    width: 120vw;
    max-width: 90rem;
    margin: 0 auto;
    overflow: hidden;
    position: sticky;
    

    
}
.bg{
    position: absolute;
    top: 1rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    
   
}
.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    


}
.hello{
    font-size: 1.75rem;
    font-weight: 100;

}
.introName{
   color: #6851CB; 
}

/* Define the keyframes for the gradient animation */
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Apply the gradient animation to the text element */
.gradient-text {
    
    font-weight: bold;
    background: linear-gradient(45deg, #961d77, #c328d8, #b47dc5, #6851CB);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientShift 5s infinite;
}
.introPara{
    font-size:medium ;
    font-weight: 300;
    letter-spacing: 1px;
}
.btn{
    text-align: center;
    background: #6851CB;
    margin: 1rem 0;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 2rem;
    color: white;
}
.btn:hover{
    background: #9681f7;
    cursor: pointer;
}
.btnImg{
    object-fit: cover;
    margin: 1 0.5rem;
    height: 1.7rem;
}
.btn1{
    
    margin: 1rem 0;
    padding: 0.75rem 2.5rem 0.75rem 1.2rem;
    border: none;
    
}
.btnImg1{
    
    margin: 0 0.25rem;
    height: 1rem;
    transform: scale(5);
}
.btnImg1:hover{
    
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px #9681f7);
   
    
}


@media screen and (max-width:840px) {
    .bg{
        right: -20vw;
        
    }
    .introContent{
        
       font-size: 10vw;
    }
    .hello{
        font-size: 4.5vw;
    }

  
    
    
}
@media screen and (max-width:480px) {
    .bg{
        right: -50vw;
        
    }

  
    
    
}
