/* src/App.css */
.slick-prev:before,
.slick-next:before {
  color: black;  /* Change arrow color */
}

.slick-dots li button:before {
  color: black;  /* Change dot color */
}

.slick-slide img {
    
  display: block;
  margin: auto;
  max-height: 500px;  /* Adjust image height */
  width: auto;
}

.sect{
    display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.img1{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    pointer-events: none;
}
.imgslide{
    
    width: 50%;
}
.textdesc {
    flex: 1 1 40%; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    text-align: justify;
            
  }

.textTitle{
    
    padding-bottom: 15px;
}
.text{
    padding-bottom: 2%;
    padding-right:5% ;
}

.textImage{
    padding-bottom: 15px;
}
@media screen and (max-width:480px) {

  .sect{
    display: flex;
  flex-wrap: wrap;
  gap: 100%;
}
.imgslide{
    
  width: 100%;
  padding-bottom: 15%;
}
  .workDesc{
      font-weight: 400;
      font-size: 1rem;
   
      padding: 0 2rem;
      text-align: justify;
      
      
  }
  .worksBar{
      height: 100%;
      width: 100%;
      display:block;
      margin: 1rem;
      padding: 1.5rem 2rem;
     
      border-radius: 0.5rem;
      background: #6851CB;
      padding-bottom: 5%;
  }

  .textTitle{
    
    padding-bottom: 15px;
    font-size: medium;
}
.text{
    padding-bottom: 2%;
    padding-right:3% ;
    font-size: small;
}
.list1{
  font-size: smaller;
  font-weight: 400;
}

.slick-dots{

  height: 2rem;
  
}
  

}
